body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 16px;
}

html {
  position: relative;
  min-height: 100%;
}

[tabindex='-1']:focus:not(:focus-visible) {
  outline: 0 !important;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

a {
  text-decoration: none !important;
}

ol,
ul,
li {
  list-style: none;
}

ul {
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}
