:root {
  --main-text-color: #3d5278;
  --secondary-text-color: #90a3bf;
  --logo-text-color: #3563e9;
  --border-color: rgba(195, 212, 233, 0.4);
  --white-color: #ffffff;
  --red-color: #ff4423;
  --footer-title-color: #131313;
  --footer-title-colors: #1a202c;
  --footer-text-color: rgba(19, 19, 19, 0.6);
  --sidebar-text: #94a7cb;
  --sidebar-span: #90a3bf;
  --background-main: #f6f7f9;
  --rating-color: #fbad39;
}
