<section class="w-100 p-4 text-center pb-4">
      <button type="button" class="btn btn-primary btn-lg" style="">Default (500ms)</button>
      <button data-mdb-ripple-duration="1000ms" type="button" class="btn btn-primary btn-lg" style="">
        Duration 1S
      </button>
      <button data-mdb-ripple-duration="3s" type="button" class="btn btn-primary btn-lg" style="min-width: 141.462px;">
        Duration 3s
      </button>
      <button data-mdb-ripple-duration="5s" type="button" class="btn btn-primary btn-lg">
        Duration 5s
      </button>
      <button data-mdb-ripple-duration="10s" type="button" class="btn btn-primary btn-lg" style="">
        Duration 10s
      </button>
    </section>