<div class="container-xxl bd-gutter mt-3 my-md-4 bd-layout">
  <div
    class="offcanvas offcanvas-start"
    data-bs-scroll="true"
    tabindex="-1"
    id="offcanvasWithBothOptions"
    aria-labelledby="offcanvasWithBothOptionsLabel"
  >
    <div class="offcanvas-header">
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <div class="offcanvas-body">
      <div class="bd-links-nav list-unstyled pb-3 pb-md-2 pe-lg-2">
        <p class="sidebar-text">type</p>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked />
          <label class="form-check-label" for="flexCheckChecked">
            Sport <span class="sidebar-span">&#40;10&#41;</span></label
          >
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked />
          <label class="form-check-label" for="flexCheckChecked">
            SUV <span class="sidebar-span">&#40;12&#41;</span></label
          >
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
          <label class="form-check-label" for="flexCheckDefault">
            MPV <span class="sidebar-span">&#40;16&#41;</span></label
          >
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
          <label class="form-check-label" for="flexCheckDefault">
            Sedan <span class="sidebar-span">&#40;20&#41;</span></label
          >
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
          <label class="form-check-label" for="flexCheckDefault">
            Coupe <span class="sidebar-span">&#40;14&#41;</span></label
          >
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
          <label class="form-check-label" for="flexCheckDefault">
            Hatchback <span class="sidebar-span">&#40;14&#41;</span></label
          >
        </div>
      </div>
      <div class="bd-links-nav list-unstyled pb-3 pb-md-2 pe-lg-2">
        <p class="sidebar-text">capacity</p>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked />
          <label class="form-check-label" for="flexCheckChecked">
            2 Person <span class="sidebar-span">&#40;10&#41;</span></label
          >
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
          <label class="form-check-label" for="flexCheckDefault">
            4 Person <span class="sidebar-span">&#40;14&#41;</span></label
          >
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
          <label class="form-check-label" for="flexCheckDefault">
            6 Person <span class="sidebar-span">&#40;12&#41;</span></label
          >
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked />
          <label class="form-check-label" for="flexCheckChecked">
            8 or More <span class="sidebar-span">&#40;16&#41;</span></label
          >
        </div>
      </div>
      <div class="bd-links-nav list-unstyled pb-3 pb-md-2 pe-lg-2">
        <p class="sidebar-text">price</p>
        <div class="controls">
          <form action="">
            <label>
              <input
                type="range"
                id="r1"
                min="0"
                max="200"
                step="1"
                name="horizontal"
                value="100"
              />
            </label>
          </form>
          <div class="wrapper">
            <strong class="price">
              Max.$
              <p id="h1-x" class="result"></p>
              <span>.00</span>
            </strong>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
        <div
          class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
        >
          <ul
            class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
            id="menu"
          >
            <li class="bd-links-group py-2">
              <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold"
                >type</strong
              >
              <ul class="list-unstyled fw-normal pb-2 small">
                <li class="nav-li">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="flexCheckChecked"
                      checked
                    />
                    <label class="form-check-label" for="flexCheckChecked">
                      Sport <span class="sidebar-span">&#40;10&#41;</span></label
                    >
                  </div>
                </li>
                <li class="nav-li">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="flexCheckChecked"
                      checked
                    />
                    <label class="form-check-label" for="flexCheckChecked">
                      SUV <span class="sidebar-span">&#40;12&#41;</span></label
                    >
                  </div>
                </li>
                <li class="nav-li">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="flexCheckDefault"
                    />
                    <label class="form-check-label" for="flexCheckDefault">
                      MPV <span class="sidebar-span">&#40;16&#41;</span></label
                    >
                  </div>
                </li>
                <li class="nav-li">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="flexCheckDefault"
                    />
                    <label class="form-check-label" for="flexCheckDefault">
                      Sedan <span class="sidebar-span">&#40;20&#41;</span></label
                    >
                  </div>
                </li>
                <li class="nav-li">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="flexCheckDefault"
                    />
                    <label class="form-check-label" for="flexCheckDefault">
                      Coupe <span class="sidebar-span">&#40;14&#41;</span></label
                    >
                  </div>
                </li>
                <li class="nav-li">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="flexCheckDefault"
                    />
                    <label class="form-check-label" for="flexCheckDefault">
                      Hatchback <span class="sidebar-span">&#40;14&#41;</span></label
                    >
                  </div>
                </li>
              </ul>
            </li>
            <li class="bd-links-group py-2">
              <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold"
                >capacity</strong
              >
              <ul class="list-unstyled fw-normal pb-2 small">
                <li class="nav-li">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="flexCheckChecked"
                      checked
                    />
                    <label class="form-check-label" for="flexCheckChecked">
                      2 Person <span class="sidebar-span">&#40;10&#41;</span></label
                    >
                  </div>
                </li>
                <li class="nav-li">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="flexCheckDefault"
                    />
                    <label class="form-check-label" for="flexCheckDefault">
                      4 Person <span class="sidebar-span">&#40;14&#41;</span></label
                    >
                  </div>
                </li>
                <li class="nav-li">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="flexCheckDefault"
                    />
                    <label class="form-check-label" for="flexCheckDefault">
                      6 Person <span class="sidebar-span">&#40;12&#41;</span></label
                    >
                  </div>
                </li>
                <li class="nav-li">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="flexCheckChecked"
                      checked
                    />
                    <label class="form-check-label" for="flexCheckChecked">
                      8 or More <span class="sidebar-span">&#40;16&#41;</span></label
                    >
                  </div>
                </li>
              </ul>
            </li>
            <li class="bd-links-group py-2">
              <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold"
                >price</strong
              >
              <ul class="list-unstyled fw-normal pb-2 small">
                <li class="nav-li">
                  <div class="controls">
                    <form action="">
                      <label>
                        <input
                          type="range"
                          id="r1"
                          min="0"
                          max="200"
                          step="1"
                          name="horizontal"
                          value="100"
                        />
                      </label>
                    </form>
                    <div class="wrapper">
                      <strong class="price">
                        Max.$
                        <p id="h1-x" class="result"></p>
                        <span>.00</span>
                      </strong>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="col py-3 content-main">
        <div class="row mb-3 main-wrapper">
          <div class="col-6 themed-grid-col">
            <div class="pb-3"></div>
            <div class="card text-white">
              <img class="card-img" src="./images/content/View.png" alt="Card image" />
              <div class="card-img-overlay">
                <h1 class="card-title">Sports car with the best design and acceleration</h1>
                <p class="card-text">
                  Safety and comfort while driving a futuristic and elegant sports car
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 themed-grid-col">
                <img src="./images/content/view 1.png" alt="image" />
              </div>
              <div class="col-md-4 themed-grid-col">
                <img src="./images/content/view2.png" alt="image" />
              </div>
              <div class="col-md-4 themed-grid-col">
                <img src="./images/content/view3.png" alt="image" />
              </div>
            </div>
          </div>

          <div class="col-6 themed-grid-col">
            <div class="pb-3"></div>
            <div class="card">
              <div>
                <div class="card-header">
                  <h1 class="card-title" style="padding-top: 0.7rem">Nissan GT - R</h1>
                  <button class="heart">
                    <div class="heart-flip"></div>
                  </button>
                </div>
                <div class="rating-body">
                  <div class="rating-area">
                    <input type="radio" id="star-1" name="rating" value="1" />
                    <label for="star-1" title="Оценка «1»"></label>
                    <input type="radio" id="star-2" name="rating" value="2" />
                    <label for="star-2" title="Оценка «2»"></label>
                    <input type="radio" id="star-3" name="rating" value="3" />
                    <label for="star-3" title="Оценка «3»"></label>
                    <input type="radio" id="star-4" name="rating" value="4" />
                    <label for="star-4" title="Оценка «4»"></label>
                    <input type="radio" id="star-5" name="rating" value="5" />
                    <label for="star-5" title="Оценка «5»"></label>
                  </div>
                  <p class="raiting-text">440+ Reviewer</p>
                </div>
              </div>
              <div class="card-body">
                <p class="text-card">
                  NISMO has become the embodiment of Nissan's outstanding performance, inspired by
                  the most unforgiving proving ground, the "race track".
                </p>
                <div class="">
                  <section class="">
                    <div class="row">
                      <div class="col-sm-6">
                        <p class="text-type">Type Car <span class="text-span">Sport</span></p>
                      </div>
                      <div class="col-sm-6">
                        <p class="text-type">Capacity <span class="text-span">2 Person</span></p>
                      </div>
                    </div>
                  </section>
                  <section class="" style="margin-bottom: 68px">
                    <div class="row">
                      <div class="col-sm-6">
                        <p class="text-type">Steering <span class="text-span">Manual</span></p>
                      </div>
                      <div class="col-sm-6">
                        <p class="text-type">Gasoline <span class="text-span">70L</span></p>
                      </div>
                    </div>
                  </section>
                  <section class="">
                    <div class="row">
                      <div class="col-sm-6">
                        <p class="text-types">$80.00/ <span class="text-spans">days</span></p>
                        <p class="span">$100.00</p>
                      </div>
                      <div class="col-sm-6">
                        <button type="button" class="btn btn-primary button-card">
                          <a href="#" class="text-white">Rent Now</a>
                        </button>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-3 main-wrapper">
          <section class="main-content">
            <div class="wrapper-main">
              <div class="review-container">
                <p class="review-text">Reviews<span class="review-span">13</span></p>
                <div class="row">
                  <div class="col 12">
                    <section class="" style="margin-bottom: 24px">
                      <img
                        class="review-img"
                        src="./images/review/Profills.png"
                        alt="Avatar"
                        width="56"
                        height="56"
                        role="img"
                      />
                      <section class="">
                        <div class="row">
                          <div class="col-sm-6">
                            <h2 class="review-title">Alex Stanton</h2>
                            <p class="review-text-type">CEO at Bukalapak</p>
                          </div>
                          <div class="col-sm-6">
                            <span class="review-data"
                              ><time datetime="2022-07-21">21 July 2022</time></span
                            >
                            <img
                              class="review-rait"
                              src="./images/review/rating.png"
                              alt="rating"
                            />
                          </div>
                        </div>
                      </section>
                      <p class="review-texts">
                        We are very happy with the service from the MORENT App. Morent has a low
                        price and also a large variety of cars with good and comfortable facilities.
                        In addition, the service provided by the officers is also very friendly and
                        very polite.
                      </p>
                    </section>
                  </div>
                  <div class="col 12">
                    <section class="" style="margin-bottom: 24px">
                      <img
                        class="review-img"
                        src="./images/review/Profill.png"
                        alt="Avatar"
                        width="56"
                        height="56"
                        role="img"
                      />
                      <section class="" id="content">
                        <div class="row">
                          <div class="col-sm-6">
                            <h2 class="review-title">Skylar Dias</h2>
                            <p class="review-text-type">CEO at Amazon</p>
                          </div>
                          <div class="col-sm-6">
                            <span class="review-data"
                              ><time datetime="2022-07-20">20 July 2022</time></span
                            >
                            <img
                              class="review-rait"
                              src="./images/review/rating.png"
                              alt="rating"
                            />
                          </div>
                        </div>
                      </section>
                      <p class="review-texts">
                        We are greatly helped by the services of the MORENT Application. Morent has
                        low prices and also a wide variety of cars with good and comfortable
                        facilities. In addition, the service provided by the officers is also very
                        friendly and very polite.
                      </p>
                    </section>
                  </div>
                </div>
                <div class="dropdown dropdown-menu-center">
                  <button
                    id="showAll"
                    class="btn btn-outline-secondary review-brn dropdown-toggle"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Show All
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <section class="">
                  <div class="row">
                    <div class="col-sm-6">
                      <p class="recent-text">Recent Car</p>
                    </div>
                    <div class="col-sm-6">
                      <p
                        class="recent-text"
                        style="color: var(--logo-text-color); justify-content: flex-end"
                      >
                        View All
                      </p>
                    </div>
                  </div>
                </section>

                <div class="col-md-4 mb-3">
                  <div class="product-card">
                    <div>
                      <div class="card-header">
                        <h2 class="card-title" style="padding-top: 0.7rem" id="title">
                          Koenigsegg
                        </h2>
                        <div class="product-link">
                          <a href="#"><i class="fas fa-heart"></i></a>
                        </div>
                        <div class=""><p class="raiting-text" id="text">Sport</p></div>
                      </div>
                      <div class="product-thumb">
                        <a href="#"><img src="./images/recent/Car.png" alt="Car" /></a>
                      </div>
                      <div class="product-details">
                        <img
                          class="img-product"
                          src="./images/recent/Gasoline.png"
                          alt="Gasoline"
                        />
                        <img class="img-product" src="./images/recent/Manual.png" alt="Manual" />
                        <img
                          class="img-product"
                          src="./images/recent/Capacity.png"
                          alt="Capacity"
                        />
                      </div>

                      <div class="product-bottom-details d-flex justify-content-around">
                        <div class="product-price">
                          $99.00/ <span class="product-span">days</span>
                        </div>
                        <div class="product-links">
                          <button type="button" class="btn btn-primary button-card-recent">
                            <a href="#" class="text-white">Rent Now</a>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 mb-3">
                  <div class="product-card">
                    <div>
                      <div class="card-header">
                        <h1 class="card-title" style="padding-top: 0.7rem" id="title">
                          Nissan GT - R
                        </h1>
                        <div class="">
                          <p class="raiting-text" id="text" style="margin-left: -129px">Sport</p>
                        </div>
                      </div>
                      <div class="product-thumb">
                        <a href="#"><img src="./images/recent/Car1.png" alt="Car" /></a>
                      </div>
                      <div class="product-details">
                        <img
                          class="img-product"
                          src="./images/recent/Gasoline.png"
                          alt="Gasoline"
                        />
                        <img class="img-product" src="./images/recent/Manual.png" alt="Manual" />
                        <img
                          class="img-product"
                          src="./images/recent/Capacity.png"
                          alt="Capacity"
                        />
                      </div>

                      <div
                        class="product-bottom-details d-flex justify-content-around product-item"
                      >
                        <div class="row">
                          <div class="col-sm-6 product">
                            <p class="product-price">
                              $80.00/ <span class="product-span">days</span>
                            </p>
                            <p class="span">$100.00</p>
                          </div>
                          <div class="col-sm-6">
                            <button type="button" class="btn btn-primary button-card-recent">
                              <a href="#" class="text-white">Rent Now</a>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 mb-3">
                  <div class="product-card">
                    <div>
                      <div class="card-header">
                        <h1 class="card-title" style="padding-top: 0.7rem" id="title">
                          Rolls-Royce
                        </h1>
                        <div class="">
                          <p class="raiting-text" id="text" style="margin-left: -116px">Sport</p>
                        </div>
                      </div>
                      <div class="product-thumb">
                        <a href="#"><img src="./images/recent/Car3.png" alt="Car" /></a>
                      </div>
                      <div class="product-details">
                        <img
                          class="img-product"
                          src="./images/recent/Gasoline.png"
                          alt="Gasoline"
                        />
                        <img class="img-product" src="./images/recent/Manual.png" alt="Manual" />
                        <img
                          class="img-product"
                          src="./images/recent/Capacity.png"
                          alt="Capacity"
                        />
                      </div>

                      <div class="product-bottom-details d-flex justify-content-around">
                        <div class="product-price">
                          $96.00/ <span class="product-span">days</span>
                        </div>
                        <div class="product-links">
                          <button type="button" class="btn btn-primary button-card-recent">
                            <a href="#" class="text-white">Rent Now</a>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 mb-3">
                  <div class="product-card" style="height: 450px">
                    <div>
                      <div class="card-header">
                        <h1 class="card-title" style="padding-top: 0.7rem" id="title">
                          All New Rush
                        </h1>
                        <div class="">
                          <p class="raiting-text" id="text" style="margin-left: -129px">SUV</p>
                        </div>
                      </div>
                      <div class="product-thumb">
                        <a href="#"><img src="./images/recent/Car4.png" alt="Car" /></a>
                      </div>
                      <div class="product-details">
                        <img
                          class="img-product"
                          src="./images/recent/Gasoline.png"
                          alt="Gasoline"
                        />
                        <img class="img-product" src="./images/recent/Manual.png" alt="Manual" />
                        <img
                          class="img-product"
                          src="./images/recent/Capacity.png"
                          alt="Capacity"
                        />
                      </div>

                      <div
                        class="product-bottom-details d-flex justify-content-around product-item"
                      >
                        <div class="row">
                          <div class="col-sm-6 product">
                            <p class="product-price">
                              $72.00/ <span class="product-span">days</span>
                            </p>
                            <p class="span">$80.00</p>
                          </div>
                          <div class="col-sm-6">
                            <button type="button" class="btn btn-primary button-card-recent">
                              <a href="#" class="text-white">Rent Now</a>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 mb-3">
                  <div class="product-card" style="height: 450px">
                    <div>
                      <div class="card-header">
                        <h1 class="card-title" style="padding-top: 0.7rem" id="title">CR - V</h1>
                        <div class="product-links">
                          <a href="#"><i class="fas fa-heart" id="heart"></i></a>
                        </div>
                        <div class="">
                          <p class="raiting-text" id="text" style="margin-left: -255px">SUV</p>
                        </div>
                      </div>
                      <div class="product-thumb">
                        <a href="#"><img src="./images/recent/Car5.png" alt="Car" /></a>
                      </div>
                      <div class="product-details">
                        <img
                          class="img-product"
                          src="./images/recent/Gasoline.png"
                          alt="Gasoline"
                        />
                        <img class="img-product" src="./images/recent/Manual.png" alt="Manual" />
                        <img
                          class="img-product"
                          src="./images/recent/Capacity.png"
                          alt="Capacity"
                        />
                      </div>

                      <div class="product-bottom-details d-flex justify-content-around">
                        <div class="product-price">
                          $80.00/ <span class="product-span">days</span>
                        </div>
                        <div class="product-links">
                          <button type="button" class="btn btn-primary button-card-recent">
                            <a href="#" class="text-white">Rent Now</a>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 mb-3">
                  <div class="product-card" style="height: 450px">
                    <div>
                      <div class="card-header">
                        <h1 class="card-title" style="padding-top: 0.7rem" id="title">
                          All New Terios
                        </h1>
                        <div class="">
                          <p class="raiting-text" id="text" style="margin-left: -255px">SUV</p>
                        </div>
                      </div>
                      <div class="product-thumb">
                        <a href="#"><img src="./images/recent/Car6.png" alt="Car" /></a>
                      </div>
                      <div class="product-details">
                        <img
                          class="img-product"
                          src="./images/recent/Gasoline.png"
                          alt="Gasoline"
                        />
                        <img class="img-product" src="./images/recent/Manual.png" alt="Manual" />
                        <img
                          class="img-product"
                          src="./images/recent/Capacity.png"
                          alt="Capacity"
                        />
                      </div>

                      <div class="product-bottom-details d-flex justify-content-around">
                        <div class="product-price">
                          $74.00/ <span class="product-span">days</span>
                        </div>
                        <div class="product-links">
                          <button type="button" class="btn btn-primary button-card-recent">
                            <a href="#" class="text-white">Rent Now</a>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
