<div class="container-xxl bd-gutter mt-3 my-md-4 bd-layout">
  <aside class="bd-sidebar">
    <div
      class="offcanvas-lg offcanvas-start"
      data-bs-scroll="true"
      tabindex="-1"
      id="bdSidebar"
      aria-labelledby="bdSidebarOffcanvasLabel"
      role="dialog"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title text-white" id="bdSidebarOffcanvasLabel">Sidebar</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
          data-bs-target="#bdSidebar"
        ></button>
      </div>
      <div class="offcanvas-body">
        <div class="bd-links-nav list-unstyled pb-3 pb-md-2 pe-lg-2">
          <p class="sidebar-text">type</p>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckChecked"
              checked
            />
            <label class="form-check-label" for="flexCheckChecked">
              Sport <span class="sidebar-span">&#40;10&#41;</span></label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckChecked1"
              checked
            />
            <label class="form-check-label" for="flexCheckChecked1">
              SUV <span class="sidebar-span">&#40;12&#41;</span></label
            >
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
            <label class="form-check-label" for="flexCheckDefault">
              MPV <span class="sidebar-span">&#40;16&#41;</span></label
            >
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1" />
            <label class="form-check-label" for="flexCheckDefault1">
              Sedan <span class="sidebar-span">&#40;20&#41;</span></label
            >
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2" />
            <label class="form-check-label" for="flexCheckDefault2">
              Coupe <span class="sidebar-span">&#40;14&#41;</span></label
            >
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3" />
            <label class="form-check-label" for="flexCheckDefault3">
              Hatchback <span class="sidebar-span">&#40;14&#41;</span></label
            >
          </div>
        </div>
        <div class="bd-links-nav list-unstyled pb-3 pb-md-2 pe-lg-2">
          <p class="sidebar-text">capacity</p>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckChecked2"
              checked
            />
            <label class="form-check-label" for="flexCheckChecked2">
              2 Person <span class="sidebar-span">&#40;10&#41;</span></label
            >
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault4" />
            <label class="form-check-label" for="flexCheckDefault4">
              4 Person <span class="sidebar-span">&#40;14&#41;</span></label
            >
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault5" />
            <label class="form-check-label" for="flexCheckDefault5">
              6 Person <span class="sidebar-span">&#40;12&#41;</span></label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckChecked3"
              checked
            />
            <label class="form-check-label" for="flexCheckChecked3">
              8 or More <span class="sidebar-span">&#40;16&#41;</span></label
            >
          </div>
        </div>
        <div class="bd-links-nav list-unstyled pb-3 pb-md-2 pe-lg-2">
          <p class="sidebar-text">price</p>
          <div class="controls">
            <input type="range" min="0" max="200" step="1" name="horizontal" value="100" />

            <div class="wrapper">
              <p class="price">
                Max.$
                <span class="result"></span>
                <span>.00</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside>
  <main class="bd-main order-1">
    <div class="bd-intro pt-2 ps-lg-2">
      <div class="row intro-row">
        <div class="col-6 themed-grid-col intro-col">
          <div class="card">
            <img class="card-img img-fluid" src="./images/content/View.png" alt="Card image" />
          </div>
          <div class="row">
            <div class="col-md-4 themed-grid-col img-intro">
              <img class="img-fluid" src="./images/content/view 1.png" alt="image" />
            </div>
            <div class="col-md-4 themed-grid-col img-intro">
              <img class="img-fluid" src="./images/content/view2.png" alt="image" />
            </div>
            <div class="col-md-4 themed-grid-col img-intro">
              <img class="img-fluid" src="./images/content/view3.png" alt="image" />
            </div>
          </div>
        </div>

        <div class="col-6 themed-grid-col intro-col">
          <div class="card">
            <div class="card-header intro-header">
              <div class="row">
                <div class="col-sm-8 intro-title">
                  <h1 class="card-title" style="padding-top: 0.7rem">Nissan GT - R</h1>
                </div>
                <div class="col-sm-4 intro-heart">
                  <div class="card-link">
                    <a href="#"><i class="fas fa-heart"></i></a>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-8 rait-intro">
                  <p class="card-raiting">
                    <img
                      class="card-rait img-fluid"
                      style="margin-left: 0"
                      src="./images/review/rating.png"
                      alt="Rait"
                    />
                    440+ Reviewer
                  </p>
                </div>
                <div class="col-sm-4"></div>
              </div>
            </div>

            <div class="card-body">
              <p class="cart-text">
                NISMO has become the embodiment of Nissan's outstanding performance, inspired by the
                most unforgiving proving ground, the "race track".
              </p>
              <div class="">
                <div class="row">
                  <div class="col-sm-6 intro-span">
                    <p class="text-type">Type Car <span class="text-span">Sport</span></p>
                  </div>
                  <div class="col-sm-6 intro-span">
                    <p class="text-type">Capacity <span class="text-span">2 Person</span></p>
                  </div>
                </div>
                <div class="row section-intro">
                  <div class="col-sm-6 intro-span">
                    <p class="text-type">Steering <span class="text-span">Manual</span></p>
                  </div>
                  <div class="col-sm-6 intro-span">
                    <p class="text-type">Gasoline <span class="text-span">70L</span></p>
                  </div>
                </div>

                <div class="row section-mag">
                  <div class="col-sm-8 intro-price">
                    <p class="text-types">$80.00/ <span class="text-spans">days</span></p>
                    <p class="span">$100.00</p>
                  </div>
                  <div class="col-sm-4 intro-price">
                    <button type="button" class="btn btn-primary text-white" id="button-card">
                      Rent Now
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bd-toc col py-3">
      <div class="row">
        <section class="review-content">
          <div class="review-container container-fluid">
            <h3 class="review-text">Reviews<span class="review-span">13</span></h3>
            <div class="row">
              <div class="col 12">
                <div class="content">
                  <img
                    class="review-img img-fluid"
                    src="./images/review/Profills.png"
                    alt="Avatar"
                    width="56"
                    height="56"
                  />
                  <div class="row">
                    <div class="col-sm-6 review-car">
                      <h2 class="review-title">Alex Stanton</h2>
                      <p class="review-text-type">CEO at Bukalapak</p>
                    </div>
                    <div class="col-sm-6 review-car">
                      <span class="review-data"
                        ><time datetime="2022-07-21">21 July 2022</time></span
                      >
                      <img
                        class="review-rait img-fluid"
                        src="./images/review/rating.png"
                        alt="rating"
                      />
                    </div>
                    <p class="review-texts">
                      We are very happy with the service from the MORENT App. Morent has a low price
                      and also a large variety of cars with good and comfortable facilities. In
                      addition, the service provided by the officers is also very friendly and very
                      polite.
                    </p>
                  </div>
                </div>

                <div class="content">
                  <img
                    class="review-img img-fluid"
                    src="./images/review/Profill.png"
                    alt="Avatar"
                    width="56"
                    height="56"
                  />
                  <div class="row">
                    <div class="col-sm-6 review-car">
                      <h2 class="review-title">Skylar Dias</h2>
                      <p class="review-text-type">CEO at Amazon</p>
                    </div>
                    <div class="col-sm-6 review-car">
                      <span class="review-data"
                        ><time datetime="2022-07-20">20 July 2022</time></span
                      >
                      <img
                        class="img-fluid review-rait"
                        src="./images/review/rating.png"
                        alt="rating"
                      />
                    </div>
                    <p class="review-texts">
                      We are greatly helped by the services of the MORENT Application. Morent has
                      low prices and also a wide variety of cars with good and comfortable
                      facilities. In addition, the service provided by the officers is also very
                      friendly and very polite.
                    </p>
                  </div>
                </div>

                <div class="content">
                  <img
                    class="review-img img-fluid"
                    src="./images/review/Profills.png"
                    alt="Avatar"
                    width="56"
                    height="56"
                  />
                  <div class="row">
                    <div class="col-sm-6">
                      <h2 class="review-title">Alex Stanton</h2>
                      <p class="review-text-type">CEO at Bukalapak</p>
                    </div>
                    <div class="col-sm-6">
                      <span class="review-data"
                        ><time datetime="2022-07-21">21 July 2022</time></span
                      >
                      <img
                        class="review-rait img-fluid"
                        src="./images/review/rating.png"
                        alt="rating"
                      />
                    </div>
                    <p class="review-texts">
                      We are very happy with the service from the MORENT App. Morent has a low price
                      and also a large variety of cars with good and comfortable facilities. In
                      addition, the service provided by the officers is also very friendly and very
                      polite.
                    </p>
                  </div>
                </div>

                <div class="content">
                  <img
                    class="review-img img-fluid"
                    src="./images/review/Profill.png"
                    alt="Avatar"
                    width="56"
                    height="56"
                  />
                  <div class="row">
                    <div class="col-sm-6">
                      <h2 class="review-title">Skylar Dias</h2>
                      <p class="review-text-type">CEO at Amazon</p>
                    </div>
                    <div class="col-sm-6">
                      <span class="review-data"
                        ><time datetime="2022-07-20">20 July 2022</time></span
                      >
                      <img
                        class="img-fluid review-rait"
                        src="./images/review/rating.png"
                        alt="rating"
                      />
                    </div>
                    <p class="review-texts">
                      We are greatly helped by the services of the MORENT Application. Morent has
                      low prices and also a wide variety of cars with good and comfortable
                      facilities. In addition, the service provided by the officers is also very
                      friendly and very polite.
                    </p>
                  </div>
                </div>
                <div class="col text-center button-wrapper">
                  <button type="button" class="btn btn-outline-secondary show-all" id="showAll">
                    Show All
                    <span
                      class="spinner-border spinner-border-sm"
                      role="status"
                      aria-hidden="true"
                    ></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="bd-content px-lg-2 py-3">
      <div class="container-fluid recent-container">
        <div class="row section-row">
          <div class="col-sm-6 recom-car">
            <h4 class="recent-text">Recent Car</h4>
          </div>
          <div class="col-sm-6 recom-car">
            <h4
              class="recent-text"
              style="color: var(--logo-text-color); justify-content: flex-end; margin-right: 34px"
            >
              View All
            </h4>
          </div>
        </div>

        <div class="row content-car">
          <div class="col-md-4 recent-content stretch-card">
            <div class="card product-card">
              <div class="card-header">
                <div class="row">
                  <div class="col-sm-8 recent-header">
                    <h2 class="recent-title" style="padding-top: 0.7rem">Koenigsegg</h2>
                  </div>
                  <div class="col-sm-4 recent-header">
                    <div class="card-link">
                      <a href="#"><i class="fas fa-heart"></i></a>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-8 recent-header">
                    <p class="rec-text">Sport</p>
                  </div>
                  <div class="col-sm-4 recent-header"></div>
                </div>
              </div>
              <div class="product-thumb">
                <a href="#"><img class="img-fluid" src="./images/recent/Car.png" alt="Car" /></a>
              </div>
              <div class="container" style="margin-bottom: 36px">
                <div class="row text-center">
                  <div class="col-4 themed-grid-col">
                    <p class="product-text">
                      <img
                        class="img-product img-fluid"
                        src="./images/recent/Gasoline.png"
                        alt="Gasoline"
                      />
                      90L
                    </p>
                  </div>
                  <div class="col-4 themed-grid-col">
                    <p class="product-text">
                      <img
                        class="img-product img-fluid"
                        src="./images/recent/Manual.png"
                        alt="Gasoline"
                      />
                      Manual
                    </p>
                  </div>
                  <div class="col-4 themed-grid-col">
                    <p class="product-text">
                      <img
                        class="img-product img-fluid"
                        src="./images/recent/Capacity.png"
                        alt="Gasoline"
                      />
                      2 People
                    </p>
                  </div>
                </div>
              </div>

              <div class="container" style="margin-bottom: 24px">
                <div class="row">
                  <div class="col-sm-6 recent-price">
                    <p class="product-price">$99.00/ <span class="product-span">days</span></p>
                  </div>
                  <div class="col-sm-6 recent-price">
                    <button type="button" class="btn btn-primary">Rent Now</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 recent-content">
            <div class="card product-card">
              <div class="card-header">
                <div class="row">
                  <div class="col-sm-8 recent-header">
                    <h2 class="recent-title" style="padding-top: 0.7rem">Nissan GT - R</h2>
                  </div>
                  <div class="col-sm-4 recent-header"></div>
                </div>
                <div class="row">
                  <div class="col-sm-8 recent-header">
                    <p class="rec-text">Sport</p>
                  </div>
                  <div class="col-sm-4 recent-header"></div>
                </div>
              </div>
              <div class="product-thumb">
                <a href="#"><img class="img-fluid" src="./images/recent/Car1.png" alt="Car" /></a>
              </div>
              <div class="container" style="margin-bottom: 30px">
                <div class="row text-center">
                  <div class="col-4 themed-grid-col">
                    <p class="product-text">
                      <img
                        class="img-product img-fluid"
                        src="./images/recent/Gasoline.png"
                        alt="Gasoline"
                      />
                      80L
                    </p>
                  </div>
                  <div class="col-4 themed-grid-col">
                    <p class="product-text">
                      <img
                        class="img-product img-fluid"
                        src="./images/recent/Manual.png"
                        alt="Gasoline"
                      />
                      Manual
                    </p>
                  </div>
                  <div class="col-4 themed-grid-col">
                    <p class="product-text">
                      <img
                        class="img-product img-fluid"
                        src="./images/recent/Capacity.png"
                        alt="Gasoline"
                      />
                      2 People
                    </p>
                  </div>
                </div>
              </div>

              <div class="container" style="margin-bottom: 22px">
                <div class="row">
                  <div class="col-sm-6 recent-price">
                    <p class="product-price" style="margin-top: 0px">
                      $80.00/ <span class="product-span">days</span>
                    </p>
                    <p class="span" style="margin-bottom: 0">$100.00</p>
                  </div>
                  <div class="col-sm-6 recent-price">
                    <button type="button" class="btn btn-primary">Rent Now</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 recent-content">
            <div class="card product-card">
              <div class="card-header">
                <div class="row">
                  <div class="col-sm-8 recent-header">
                    <h2 class="recent-title" style="padding-top: 0.7rem">Rolls-Royce</h2>
                  </div>
                  <div class="col-sm-4 recent-header"></div>
                </div>
                <div class="row">
                  <div class="col-sm-8 recent-header">
                    <p class="rec-text">Sport</p>
                  </div>
                  <div class="col-sm-4 recent-header"></div>
                </div>
              </div>
              <div class="product-thumb">
                <a href="#"><img class="img-fluid" src="./images/recent/Car3.png" alt="Car" /></a>
              </div>
              <div class="container" style="margin-bottom: 36px">
                <div class="row text-center">
                  <div class="col-4 themed-grid-col">
                    <p class="product-text">
                      <img
                        class="img-product img-fluid"
                        src="./images/recent/Gasoline.png"
                        alt="Gasoline"
                      />
                      70L
                    </p>
                  </div>
                  <div class="col-4 themed-grid-col">
                    <p class="product-text">
                      <img
                        class="img-product img-fluid"
                        src="./images/recent/Manual.png"
                        alt="Gasoline"
                      />
                      Manual
                    </p>
                  </div>
                  <div class="col-4 themed-grid-col">
                    <p class="product-text">
                      <img
                        class="img-product img-fluid"
                        src="./images/recent/Capacity.png"
                        alt="Gasoline"
                      />
                      4 People
                    </p>
                  </div>
                </div>
              </div>

              <div class="container" style="margin-bottom: 24px">
                <div class="row">
                  <div class="col-sm-6 recent-price">
                    <p class="product-price">$96.00/ <span class="product-span">days</span></p>
                  </div>
                  <div class="col-sm-6 recent-price">
                    <button type="button" class="btn btn-primary">Rent Now</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row section-row">
          <div class="col-sm-6 recom-car">
            <h4 class="recent-text" style="color: var(--logo-text-color)">Recomendation Car</h4>
          </div>
          <div class="col-sm-6 recom-car">
            <h4
              class="recent-text"
              style="color: var(--logo-text-color); justify-content: flex-end; margin-right: 34px"
            >
              View All
            </h4>
          </div>
        </div>

        <div class="row content-car">
          <div class="col-md-4 recent-content">
            <div class="card product-card">
              <div class="card-header">
                <div class="row">
                  <div class="col-sm-8 recent-header">
                    <h2 class="recent-title" style="padding-top: 0.7rem">All New Rush</h2>
                  </div>
                  <div class="col-sm-4 recent-header"></div>
                </div>
                <div class="row">
                  <div class="col-sm-8 recent-header">
                    <p class="rec-text">SUV</p>
                  </div>
                  <div class="col-sm-4 recent-header"></div>
                </div>
              </div>
              <div class="product-thumb">
                <a href="#"><img class="img-fluid" src="./images/recent/Car4.png" alt="Car" /></a>
              </div>
              <div class="container" style="margin-bottom: 32px">
                <div class="row text-center">
                  <div class="col-4 themed-grid-col">
                    <p class="product-text">
                      <img
                        class="img-product img-fluid"
                        src="./images/recent/Gasoline.png"
                        alt="Gasoline"
                      />
                      70L
                    </p>
                  </div>
                  <div class="col-4 themed-grid-col">
                    <p class="product-text">
                      <img
                        class="img-product img-fluid"
                        src="./images/recent/Manual.png"
                        alt="Gasoline"
                      />
                      Manual
                    </p>
                  </div>
                  <div class="col-4 themed-grid-col">
                    <p class="product-text">
                      <img
                        class="img-product img-fluid"
                        src="./images/recent/Capacity.png"
                        alt="Gasoline"
                      />
                      6 People
                    </p>
                  </div>
                </div>
              </div>

              <div class="container" style="margin-bottom: 22px">
                <div class="row">
                  <div class="col-sm-6 recent-price">
                    <p class="product-price" style="margin-top: 0px">
                      $72.00/ <span class="product-span">days</span>
                    </p>
                    <p class="span" style="margin-bottom: 0">$80.00</p>
                  </div>
                  <div class="col-sm-6 recent-price">
                    <button type="button" class="btn btn-primary">Rent Now</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 recent-content">
            <div class="card product-card">
              <div class="card-header">
                <div class="row">
                  <div class="col-sm-8 recent-header">
                    <h2 class="recent-title" style="padding-top: 0.7rem">CR - V</h2>
                  </div>
                  <div class="col-sm-4 recent-header">
                    <div class="card-link">
                      <a href="#"><i class="fas fa-heart"></i></a>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-8 recent-header">
                    <p class="rec-text">SUV</p>
                  </div>
                  <div class="col-sm-4 recent-header"></div>
                </div>
              </div>
              <div class="product-thumb product-car">
                <a href="#"><img class="img-fluid" src="./images/recent/Car5.png" alt="Car" /></a>
              </div>
              <div class="container" style="margin-bottom: 36px">
                <div class="row text-center">
                  <div class="col-4 themed-grid-col">
                    <p class="product-text">
                      <img
                        class="img-product img-fluid"
                        src="./images/recent/Gasoline.png"
                        alt="Gasoline"
                      />
                      80L
                    </p>
                  </div>
                  <div class="col-4 themed-grid-col">
                    <p class="product-text">
                      <img
                        class="img-product img-fluid"
                        src="./images/recent/Manual.png"
                        alt="Gasoline"
                      />
                      Manual
                    </p>
                  </div>
                  <div class="col-4 themed-grid-col">
                    <p class="product-text">
                      <img
                        class="img-product img-fluid"
                        src="./images/recent/Capacity.png"
                        alt="Gasoline"
                      />
                      6 People
                    </p>
                  </div>
                </div>
              </div>

              <div class="container" style="margin-bottom: 24px">
                <div class="row">
                  <div class="col-sm-6 recent-price">
                    <p class="product-price">$80.00/ <span class="product-span">days</span></p>
                  </div>
                  <div class="col-sm-6 recent-price">
                    <button type="button" class="btn btn-primary">Rent Now</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 recent-content">
            <div class="card product-card">
              <div class="card-header">
                <div class="row">
                  <div class="col-sm-8 recent-header">
                    <h2 class="recent-title" style="padding-top: 0.7rem">All New Terios</h2>
                  </div>
                  <div class="col-sm-4 recent-header"></div>
                </div>
                <div class="row">
                  <div class="col-sm-8 recent-header">
                    <p class="rec-text">SUV</p>
                  </div>
                  <div class="col-sm-4 recent-header"></div>
                </div>
              </div>
              <div class="product-thumb">
                <a href="#"><img class="img-fluid" src="./images/recent/Car6.png" alt="Car" /></a>
              </div>
              <div class="container" style="margin-bottom: 36px">
                <div class="row text-center">
                  <div class="col-4 themed-grid-col">
                    <p class="product-text">
                      <img
                        class="img-product img-fluid"
                        src="./images/recent/Gasoline.png"
                        alt="Gasoline"
                      />
                      90L
                    </p>
                  </div>
                  <div class="col-4 themed-grid-col">
                    <p class="product-text">
                      <img
                        class="img-product img-fluid"
                        src="./images/recent/Manual.png"
                        alt="Gasoline"
                      />
                      Manual
                    </p>
                  </div>
                  <div class="col-4 themed-grid-col">
                    <p class="product-text">
                      <img
                        class="img-product img-fluid"
                        src="./images/recent/Capacity.png"
                        alt="Gasoline"
                      />
                      6 People
                    </p>
                  </div>
                </div>
              </div>

              <div class="container" style="margin-bottom: 24px">
                <div class="row">
                  <div class="col-sm-6 recent-price">
                    <p class="product-price">$74.00/ <span class="product-span">days</span></p>
                  </div>
                  <div class="col-sm-6 recent-price">
                    <button type="button" class="btn btn-primary">Rent Now</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
